<!-- Simple card with a button that takes us to the travel offers -->

<div class="container my-3">
  <div class="card text-center bg-transparent" style="border: none">
    <div class="card-header bg-transparent" style="border: none">
      <h2>Experience The</h2>
    </div>
    <div class="card-body">
      <h1 class="card-title">Best Trip of your Life</h1>
      <p class="card-text">
        Well, the way they make shows is, they make one show. That show's called
        a pilot. Then they show that show to the people who make shows, and on
        the strength of that one show they decide if they're going to make more
        shows. Some pilots get picked and become television programs. Some
        don't, become nothing. She starred in one of the ones that became
        nothing.
      </p>
      <a routerLink="/" class="btn btn-outline-primary" style="color: black"
        >Check our Offers</a
      >
    </div>
  </div>
</div>
