<header style="background: none
;">
   
  <nav class="overlay">
    <h2>WELCOME</h2>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Travel Offers</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
        
          role="button"
          aria-expanded="false"
          >Sort</a
        >
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Descending</a></li>
          <li><a class="dropdown-item">Ascending</a></li>
        </ul>
      </li> -->
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" routerLink="/cart" style="margin-right: 1rem;">Checkout</a>
      </li>
    </ul>
  </nav>
</header>
